<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="toTop" content="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--ie使用edge渲染模式-->
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <!--<meta name="renderer" content="webkit">&lt;!&ndash;360渲染模式&ndash;&gt;-->
    <meta name="format-detection" content="telephone=notelphone=no, email=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/><!-- 设置苹果工具栏颜色:默认值为 default，可以定为 black和 black-translucent-->
    <meta http-equiv="Cache-Control" content="no-siteapp" /><!-- 不让百度转码 -->
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="HandheldFriendly" content="true"><!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="MobileOptimized" content="320"><!-- 微软的老式浏览器 -->
    <link rel="stylesheet" type="text/css" href="../../../mobile/mobileCss/myNews.css">
    <link rel="stylesheet" type="text/css" href="../../../mobile/mobileCss/animate.css">
    <link rel="stylesheet" type="text/css" href="../../../mobile/mobileCss/globleStyle.css">
    <!--<link rel="stylesheet" type="text/css" href="../../../mobile/mobileCss/jsmodern-4.2.0.min.css">-->
    <title>康力优蓝</title>
    <script type="text/javascript">

    </script>
</head>
<body>
<div class="weChatMark"></div>
<img class="weChatPic" src="../../../mobile/pics/service/pic04.png"/>
<div class="header">
    <a href="../../../mobile/index.html">
        <img class="logo" src="../../../mobile/pics/mobile_firstPage/navigation/logo.png" />
    </a>
    <div class="listBtns">
        <div class="one listBtn"></div>
        <div class="two listBtn"></div>
        <div class="three listBtn"></div>
    </div>
</div>
<div class = 'listPage'>
    <div class="list_header">
        <a href="../../../mobile/index.html">
            <img class="list_logo" src="../../../mobile/pics/mobile_firstPage/navigation/logo.png" />
        </a>
        <div class="list_listBtns">
            <img src="../../../mobile/pics/mobile_firstPage/navigation/closeBtn.png" />
        </div>
    </div>
    <div class="list_main">
        <div class="list_icons">
            <div class="list_icon"><a href="xiaoben.html"><img src="../../../mobile/pics/listPics/pic01.png"/><span>Family partner</span></a></div>
            <div class="list_icon"><a href="xiaoben.html"><img src="../../../mobile/pics/listPics/pic02.png"/><span>Cute toy</span></a></div>
            <div class="list_icon"><a href="youyou.html"><img src="../../../mobile/pics/listPics/pic03.png"/><span>Commercial purpose</span></a></div>
            <div class="list_icon"><a href="customization.html"><img src="../../../mobile/pics/listPics/pic04.png"/><span>Customization</span></a></div>
            <div class="list_icon"><a href="service.html"><img src="../../../mobile/pics/listPics/pic05.png"/><span>Services</span></a></div>
        </div>
        <div class="list_search">
            <img class="searchBtn" src="../../../mobile/pics/listPics/pic10.png"><span class="searchBtn">Search</span>&nbsp;&nbsp;<input type="text" placeholder="uurobot.com" /><!--uurobot.com-->
        </div>
        <!--<div class="hotSearchs">
            <div class="searchTitle">Hot search:</div>
            <div class="hotSearch">U03S</div>
            <div class="hotSearch">MINI U</div>
            <div class="hotSearch">U05</div>
            <div class="hotSearch">Customization</div>
            <div class="hotSearch">Customer service</div>
            <div class="hotSearch">More</div>
            <br style="clear: both"/>
        </div>-->
        <p class="languageChange"><img src="../../../mobile/pics/listPics/pic07.png" /><span class="languageChange_01">Chinese</span></p>
    </div>
</div>
<div class="contents">
    <div class="page01">
        <p class="wow fadeIn">NEWS</p>
    </div>
    <div class="page02">
        <p class="page02_title" style="color: #333"></p>
        <p class="page02_word01"></p>
        <div class="page02_words" style="color: #555;font-family: smartFont;font-size: 2.8125vw">
        </div>
        <p class="page02_word03"><img class="page02_img01" src="../../../mobile/pics/moreNews/pic03.png" />99+ <!--<img class="page02_img02" src="../../../mobile/pics/moreNews/pic04.png" />--></p>
    </div>
    <div class="page03">
        <div class="page03_titles">
            <div class="page03_title">Recommendation</div>
        </div>
        <div class="page03_words">
            <div class="page03_word">
                <div class="page03_img">
                    <img src="../../../mobile/pics/moreNews/pic05.png"/>
                </div>
                <div class="page03_myWords">
                    <p class="page03_word01">CANBOT:  To be the mover and shaker of intelligent service robot industry</p>
                    <p class="page03_word02">2017-10-31<span><img src="../../../mobile/pics/moreNews/pic03.png"/> 99+</span><a href="../../../mobile/myNews.html">Details>></a> </p>
                </div>
                <br style="clear: both"/>
            </div>
        </div>
        <div class="page03_words">
            <div class="page03_word">
                <div class="page03_img">
                    <img src="../../../mobile/pics/moreNews/pic05.png"/>
                </div>
                <div class="page03_myWords">
                    <p class="page03_word01">CANBOT:  To be the mover and shaker of intelligent service robot industry</p>
                    <p class="page03_word02">2017-10-31<span><img src="../../../mobile/pics/moreNews/pic03.png"/> 99+</span><a href="../../../mobile/myNews.html">Details>></a> </p>
                </div>
                <br style="clear: both"/>
            </div>
        </div>
    </div>
</div>
<!--<div class="share">
    <div class="shareMark"></div>
    <div class="shareIcons">
        <div class="shareIcon">
            <div class="shareContents">
                <div class="myShareIcon" id="qrcode"></div>
                <p>微信分享</p>
            </div>
            <div class="shareContents">
                <div class="myShareIcon" id="qzone"></div>
                <p>QQ空间</p>
            </div>
            <div class="shareContents">
                <div class="myShareIcon" id="qq"></div>
                <p>QQ好友</p>
            </div>
            <div class="shareContents">
                <div class="myShareIcon" id="sina"></div>
                <p>新浪微博</p>
            </div>
            <br style="clear: both"/>
        </div>
    </div>
</div>-->
<div class="footer">
    <div class="footer01">
        <div class="footer01_01 footer01_icon">
            <a href="../../../mobile/index.html">
                <img src="../../../mobile/pics/mobile_firstPage/footer/pic01.png" />
                <p>Products</p>
            </a>
        </div>
        <div class="footer01_02 footer01_icon">
            <a href="../../../mobile/service.html">
                <img src="../../../mobile/pics/mobile_firstPage/footer/pic02.png" />
                <p>Services</p>
            </a>
        </div>
        <div class="footer01_03 footer01_icon">
            <a href="../../../mobile/aboutUs.html">
                <img src="../../../mobile/pics/mobile_firstPage/footer/pic03.png" />
                <p>About us</p>
            </a>
        </div>
        <div class="footer01_04 footer01_icon">
            <a href="../../../mobile/business.html">
                <img src="../../../mobile/pics/mobile_firstPage/footer/pic04.png" />
                <p>Cooperation</p>
            </a>
        </div>
        <br style="clear: both" />
    </div>
    <div class="footer03">
        <p>
            <img class="footer03_01" src="../../../mobile/pics/mobile_firstPage/footer/pic05.png" />
            <span class="footer03_02"><a href="tel:4001081028">400-108-1028</a></span>
            <span class="footer03_03">（Monday—Friday  China time）</span>
            <img class="footer03_04" src="../../../mobile/pics/mobile_firstPage/footer/pic06.png" />
            <img class="footer03_05" src="../../../mobile/pics/mobile_firstPage/footer/pic07.png" />
        </p>
    </div>
    <div class="footer02">
        <p class="footer02_01">© 2017 SHENZHEN JUSTGOOD TECHNOLOGY CO.,LTD</p>
        <P class="footer02_02">深圳市紫光杰思谷科技有限公司 粤ICP备09177350号-1</p>
    </div>
</div>
</body>
<script src="../../../mobile/mobileJs/jquery-3.2.1.min.js"></script>
<script src="../../../mobile/mobileJs/wow.min.js"></script>
<script src="../../../mobile/mobileJs/toTop.js"></script>
<!--<script src="../../../mobile/mobileJs/jsmodern-4.2.0.min.js"></script>-->
<script src="myNews.js"></script>

</html>